/* ----------------------------------------------------
	IMPORT GOOGLE FONTS
------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Open+Sans:300,400');

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

html {
   overflow-y: scroll;
}

/*------------------------------------------
			02. GENERAL CSS(body, header, btn, form, list, link, img, middle title, section bg, margin, padding, icon color)
-------------------------------------------*/
body {
   font-weight: 400;
   background-color: #fff;
   font-family: 'Open Sans', sans-serif;
   color: #888;
   font-size: 15px;
   line-height: 1.75em;
   overflow-x: hidden;
   text-align: left;
}


/*header*/
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 10px;
   padding: 0;
   color: #383838;
   font-family: 'Montserrat', sans-serif;
}

h1 {
   font-size: 50px;
   line-height: 60px;
   font-weight: 700;
}

h2 {
   font-size: 35px;
   line-height: 40px;
   font-weight: 700;
}

h3 {
   font-size: 30px;
   line-height: 35px;
   font-weight: 600;
}

h4 {
   font-size: 25px;
   line-height: 33px;
   font-weight: 600;
}

h5 {
   font-size: 20px;
   line-height: 30px;
   font-weight: 600;
}

h6 {
   font-size: 18px;
   line-height: 23px;
   font-weight: 600;
}

b,
strong {
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
}


.clearfix {
   clear: both;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

.form-control:focus {
   outline: none;
   box-shadow: none;
}

.form-group {
   margin-bottom: 20px;
}

/*list*/

ul,
ol {
   margin: 0;
   padding: 0;
   list-style: none;
}

/*link*/
a {
   color: #ff2a22;
   text-decoration: none;
   transition: all 0.3s ease;
}

a,
a:active,
a:focus,
a:active {
   text-decoration: none;
}

a:hover,
a:focus {
   color: #003bb1;
   outline: none;
   text-decoration: none;
}

/*img*/
img {
   max-width: 100%
}

/*section bg*/
.bg-secondary {
   background: #eee !important;
}

.bg-white {
   background: #fff !important;
}

.bg-color {
   background: #3b3e43 !important;
}

.bg-drk {
   background: #000 !important;
}

.bg-offwhite {
   background: #eee;
}

.bg-newcolor {
   background: #051628;
}

.bg-blue {
   background: #f8fafa79;
}

/*text color*/
.white-text {
   color: #fff !important;
}

.color-text {
   color: #ff2a22 !important;
}

.gray-text {
   color: #4a4a4a !important;
}

.drk-text {
   color: #000 !important
}

.newcolor-text {
   color: #051628 !important
}

.qtcolor-text {
   color: #163269;
   font-size: 107%;
   margin-bottom: .8rem;
   font-weight: bold
}

/*margin, padding*/
.m-0 {
   margin: 0;
}

.p-0 {
   padding: 0;
}

/* =====================================
MARGIN TOP
===================================== */

.mt-0 {
   margin-top: 0;
}

.mt-30 {
   margin-top: 30px;
}

.mt-40 {
   margin-top: 40px;
}

/* =====================================
MARGIN BOTTOM
===================================== */

.mb-0 {
   margin-bottom: 0;
}

.mb-20 {
   margin-bottom: 20px;
}

/* =====================================
PADDING RIGHT
===================================== */

.pr-20 {
   padding-right: 20px;
}

/* =====================================
PADDING LEFT
===================================== */

.pl-20 {
   padding-left: 20px;
}

.ptb-40 {
   padding: 40px 0;
}

.ptb-90 {
   padding: 90px 0;
}


/* =====================================
SECTION MARGIN
===================================== */

.main {
   max-width: 1920px;
   margin: 0 auto;
}

/*section heading*/
.section-heading {
   margin-bottom: 50px;
}

.section-heading h3 {
   font-weight: 300;
}

.section-heading p {
   letter-spacing: 1.5px;
}


/*============================================================
				03. HEADER CSS
============================================================*/

.navbar {
   border-bottom: 1px solid #333;
   background-color: #161616;
}

.navbar .nav.navbar-nav {
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 10px;
   padding-bottom: 10px;
}

.navbar .navbar-collapse {
   border-top: none;
}

/* Logo */
.navbar .navbar-brand {
   height: auto;
   display: block;
}

/* Menu links */
.navbar .nav.navbar-nav li a {
   color: #afb1b3;
   padding: 22px 15px;
}

.navbar .nav.navbar-nav li a:hover,
.navbar .nav.navbar-nav li.active a {
   background: transparent;
   color: #fff;
   opacity: 1;
}

/* Mobile menu toggle button - pressed */
.navbar .navbar-toggle,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle.collapsed:active {
   margin-top: 16px;
   border: 1px solid #161616;
   background-color: #ff2a22;
}

.navbar .navbar-toggle .icon-bar,
.navbar .navbar-toggle:hover .icon-bar,
.navbar .navbar-toggle:active .icon-bar,
.navbar .navbar-toggle.collapsed:active .icon-bar {
   background-color: #000;
}

/* end of mobile menu toggle button - pressed */

/* Mobile menu toggle button */
.navbar .navbar-toggle.collapsed {
   background: transparent;
}

.navbar .navbar-toggle.collapsed .icon-bar {
   background-color: #fff;
}

/*============================================================
				04. HERO SECTION CSS
============================================================*/

/*hero new style*/
.slider-action-btn {
   padding: 0 3rem 3rem;
}

.hero-content-wrap {
   display: table;
   width: 100%;
}

.hero-content {
   position: relative;
   z-index: 200;
   /* background: rgba(255, 255, 255, 0.884); */
   padding-bottom: .4rem;
   max-width: 500px;
   margin: 120px auto auto;
}

.hero-content h3 {
   /* font-size: 50px; */
   /* line-height: 55px; */
   color: #eee;
   margin-bottom: 0;
   font-weight: 700;
   background: #2e6da4 !important;
   border: 1px solid #eee;
   padding: 20px;
}

.hero-content h1 span {
   color: #ff2a22;
}

.hero-content p {
   font-weight: 400;
   padding: 20px;
   color: #000;
   line-height: 1.6;
   font-size: 17px;
   /* text-shadow: -3px 0px 16px #333; */
}

.section-circle {
   position: relative;
}

.section-circle:after {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   content: "";
   z-index: 1;
   background: #0004;
   /* opacity: 0.75; */
}

/*======================================
       07. FEATURE SECTION CSS
=====================================*/

#features {
   position: relative;
}

.new-features-two {
   position: relative;
   padding-top: 90px;
}

.new-features-two::before {
   content: "";
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 120%;
   top: 0;
   transform: skewY(-5deg);
   background: #000 url(../img/feature-bg.jpg)no-repeat center top / cover;
}

.new-features-two h3,
.new-features-two h5 {
   color: #ddd;
}

.new-features-two i {
   color: #ff2a22;
}

.new-features-two p {
   color: #afb1b3;
}

.feature-heading {
   margin-bottom: 40px;
}

.feature-heading h3 {
   /* font-weight: 300; */
}

.single-feature {
   align-items: center;
   display: flex !important;
   padding: 1.5em 1em;
   cursor: pointer;
   transition: all 0.3s ease-in;
   box-shadow: 0px 0px 3px #222;
   border-radius: 7px;
   flex-direction: column;
   margin-bottom: 4rem;
}

.single-feature:hover {
   background: #eee;
}

.feature-icon {
   /* margin-right: 20px; */
   transition: all 0.3s ease-in;
}

.icon-shape {
   text-align: center;
   border-radius: .25rem;
   align-items: center;
   justify-content: center;
}

.icon-shape img {
   width: 50px
}

.icon {
   display: inline-flex;
   min-width: 2rem;
   min-height: 2rem;
   color: inherit;
   transition: all 0.3s ease-in;
}

.icon-shape i::before {
   font-size: 1.9rem;
   margin-left: 0;
   display: block;
}

.feature-content h5 {
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 5px;
}

.feature-image img {
   margin: 0 auto;
}

/*============================================================
				Download app
============================================================*/
.download-section {
   position: relative;
   z-index: 1;
}

.download-section:after {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   content: "";
   z-index: -1;
   background: #2e6da9;
   opacity: 0.9;
}

.download-app-img {
   margin-top: -115px;
}

.download-app-text h3,
.download-app-text h4 {
   color: #000;
}

.download-app-text p {
   color: #000;
   font-size: 100%;
   line-height: 1.8;
}

.download-btn span {
   font-size: 28px;
   line-height: 28px;
   margin-right: 10px;
   color: #fff;
}

/*============================================================
			13. FOOTER SECTION CSS
============================================================*/

.footer-section {
   position: relative;
   display: block;
   z-index: 1;
   /* border-top: 1px solid #eee; */
}

.top-shape {
   position: absolute;
   top: 0;
}

.footer-social-list {
   margin: 15px 0;
}

.footer-social-list ul li {
   padding: 0;
}

.footer-social-list ul li a {
   display: block;
   border: 1px solid #000;
   border-radius: 100%;
   transition: all 0.3s ease-in;
   background: #161616;
   -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
   box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
}

.footer-social-list ul li a:hover {
   color: #ff2a22;
}

.footer-social-list ul li a:hover i {
   color: #ff2a22;
}

.footer-social-list ul li a i {
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   vertical-align: middle;
   font-size: 16px;
   color: #fff;
   transition: all 0.3s ease-in;
}

/*copyright text*/


.copyright-text p {
   font-size: 14px;
}

.copyright-text p a,
.terms-condition ul li a {
   font-size: 14px;
   transition: all 0.3s ease-in;
}

.copyright-text p a:hover,
.terms-condition ul li a:hover {
   color: #003bb1;
}


/*====================================
		14. PRELOADER CSS
====================================*/
#preloader {
   position: relative;
   top: 0;
   left: 0;
   z-index: 9999;
}

#loader {
   display: inline-block;
   position: relative;
   width: 60px;
   height: 60px;
   border-radius: 50px;
   border: 3px solid transparent;
   border-top-color: red;
   top: 4px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
}

#loader:before {
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: blue;
   -webkit-animation: spin 3s linear infinite;
   animation: spin 3s linear infinite;
}

#loader:after {
   content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #eee;
   -webkit-animation: spin 1.5s linear infinite;
   animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

/*end preloader css*/



/*====================================
			 15. BACK TO TOP CSS
====================================*/
#toTop {
   position: fixed;
   bottom: 40px;
   right: 40px;
   text-decoration: none;
   color: #fff !important;
   font-size: 20px;
   display: none;
   font-weight: bold;
   text-align: center;
   z-index: 100;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -ms-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
}

#toTop span {
   display: block;
   position: relative;
   background: #c9302c;
   padding: 5px 12px;
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   transform: rotate(180deg);
}

.d-none {
   display: none
}

label {
   display: block
}

.error {
   color: #ff3500;
   padding: 1px 5px;
   background: #eee;
}

.form-control {
   border: 1px solid #f9f9f9;
   border-radius: 4px;
   height: 40px;
   font-size: 16px;
   color: #163269;
   box-shadow: none;
}

p.form-control:hover {
   border: 1px solid #18507f;
   cursor: pointer;
}

p.form-control {
   padding: 8px 20px;
   margin-bottom: 1rem
}

.form-control span {
   font-size: 16.6px !important;
   vertical-align: top
}

input[type=radio] {
   height: 16px;
   width: 16px;
   border-radius: 20px !important;
   margin-right: 10px;
   background: #f1f1f1;
   border: #163269 solid 1px;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
   transition: all 0.4s ease-in-out;
}

input[type="radio"]:hover,
input[type="radio"]:hover {
   border-color: #163269;
}

input[type="radio"]:checked {
   background: white;
   background: url("../img/products/radio.png");
   background-size: cover;
   border-color: #163269;
   outline: none;
   border: none
}

input[type="radio"]:checked+span {
   color: #000;
}

.navbar.navbar-default {
   background: transparent;
   position: absolute;
   z-index: 111;
   border: none;
   width: 100%
}

form {
   width: 50%;
   background: #fff9;
   margin: auto
}

fieldset {
   display: block;
   width: 100%;
   margin: auto;
}

fieldset h5 {
   text-align: center
}

fieldset .content-area {
   padding: 2rem
}

._progress {
   display: flex;
   margin-top: 3rem;
   padding: 1rem
}

._progress div {
   height: 40px;
   min-width: 40px;
   background: #eee;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;

}

._progress hr {
   border: 1px solid #eee;
   width: 100%
}

._progress hr.active {
   border-color: #c9302c
}

.mactive {
   background: #c9302c !important;
   color: #eee;
   cursor: pointer;
}

.btn-danger {
   background: #c9302c;
   outline: none !important;
}

.middle-section {
   background: url('../img/img/section-img2.jpg');
   background-position: right;
   background-size: contain;
   background-repeat: no-repeat;
   padding: 4rem 0;
   position: relative;
}

.middle-section::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   background: linear-gradient(to right, #eee, #eee, #eee, #eee, #eeed, transparent, transparent, #eee);
}

.containersp {
   max-width: 1500px;
   padding-right: 15px;
   /* padding-left: 15px; */
   margin-right: auto;
   margin-left: auto;
}

.btn-font {
   font-size: 22px;
   padding: 1rem 2rem;
   font-weight: bold;
}

.tcpatext {
   color: black;
   font-size: 12px;
   font-weight: 400;
   vertical-align: top;
   text-align: justify;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}

/* end of mobile menu toggle button */

@media screen and (max-width: 768px) and (min-width: 320px) {
   .navbar .nav.navbar-nav li a {
      padding: 8px 15px;
   }


}

@media (min-width: 768px) {
   .navbar {
      padding: 20px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      background: transparent;
      -o-transition: border-bottom .3s ease-in-out, background .3s ease-in-out, padding .3s ease-in-out;
      -webkit-transition: border-bottom .3s ease-in-out, background .3s ease-in-out, padding .3s ease-in-out;
      -moz-transition: border-bottom .3s ease-in-out, background .3s ease-in-out, padding .3s ease-in-out;
      transition: border-bottom .3s ease-in-out, background .3s ease-in-out, padding .3s ease-in-out;
      -webkit-backface-visibility: hidden;
   }

   .navbar .nav.navbar-nav {
      padding-top: 0;
      padding-bottom: 0;
   }

   .navbar .navbar-collapse {
      border: none;
   }

   .navbar.top-nav-collapse {
      padding: 0;
      background: #161616;
   }

   .navbar .navbar-brand {
      margin-right: 16px;
      margin-left: 0 !important;
   }

   .navbar .nav.navbar-nav li a,
   .navbar .nav.navbar-nav.navbar-right li a {
      padding: 20px 10px;
      -o-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      font-family: 'Montserrat', sans-serif;
   }

   .navbar .nav.navbar-nav li.active a,
   .navbar .nav.navbar-nav li a:hover {
      background: transparent;
      color: #fff;
   }

   .section-hero {
      min-height: 500px;
   }

   .section-lg {
      padding-top: 8rem;
      padding-bottom: 7rem;
   }

   .section-circle {
      position: relative
   }

   .section-hero {
      max-height: 550px;
   }

   .navbar .nav.navbar-nav li a,
   .navbar .nav.navbar-nav.navbar-right li a {
      padding: 7px 10px;
      margin-right: 1rem;
      background: #0005
   }

   .d-flex {
      display: flex;
   }

   .img-works {
      width: 100px;
   }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
   .ptb-90 {
      padding: 50px 0;
   }

   .pt-90 {
      padding-top: 50px;
   }
}

@media(min-width:1350px) {
   .middle-section::before {
      background: linear-gradient(to right, #eee, #eee, #eee, #eee, #eee, #eee, #eeed, transparent, transparent, #eee);
   }
}


@media(max-width:1199px) {
   .hero-content h1 {
      font-size: 40px;
   }

   form {
      width: 70%;
   }
}

@media(max-width:991px) {
   .hero-content h1 {
      text-align: center;
   }

   .design-gallery {
      justify-content: center;
      margin-top: 50px;
   }

   .download-app-button {
      text-align: center;
   }

   form {
      width: 90%;
      background: #fff9;
      margin: auto;

   }
}

@media(max-width:767px) {
   .middle-section::before {
      background: linear-gradient(to right, #eee, #eee, #eee9);
   }

   .middle-section {
      background-size: cover;
   }

   .hero-content {
      margin: 60px auto;
   }

   .img-works {
      width: 80px;
   }

   .start-steps {
      margin-bottom: 4rem;
   }
}